<ion-view view-title="Greenwich Fitness">
  <ion-content class="padding">

  <ion-slide-box>
    <ion-slide>
      <div class="box blue">
        <img src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR3ZIsIM8RQKdsq0n8b_okB4e2fDsfSxfot7-4AYRn8xwWpeD7x4y6uhe8'>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box red">
        <img src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR3ZIsIM8RQKdsq0n8b_okB4e2fDsfSxfot7-4AYRn8xwWpeD7x4y6uhe8'>
      </div>
    </ion-slide>
  </ion-slide-box>

  <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div ng-hide='settings.notifications'>
          Switch on visit notifications
        </div>

        <div ng-show='settings.notifications'>
          You are due at the gym in:
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Recent Updates at Greenwich Fitness</div>
      <div class="item item-body">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod mi eros, quis accumsan nisl iaculis eget. Ut suscipit consequat felis, quis auctor ipsum. Integer pharetra dui congue neque efficitur bibendum vel a elit. Nulla elementum, mi feugiat imperdiet lobortis.
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod mi eros, quis accumsan nisl iaculis eget. Ut suscipit consequat felis, quis auctor ipsum. Integer pharetra dui congue neque efficitur bibendum vel a elit. Nulla elementum, mi feugiat imperdiet lobortis.
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
