<ion-view view-title="Settings">
  <ion-content>

  <ul class="list">

    <li class="item item-toggle">
      Turn on notifications
      <label class="toggle toggle-assertive">
        <input ng-click='toggle()' type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>
  </ul>

  <div ng-show='notifications' class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Visit the gym
        </div>
        <select>
          <option>Daily</option>
          <option>Every other day</option>
          <option>Every Three days</option>
          <option>Every Four days</option>
          <option>Weekly</option>
          <option>Monthly</option>
        </select>
      </label>

    </div>
  </ion-content>
</ion-view>
