<ion-view view-title="Settings">
  <ion-content>

    <ul class="list">

      <li class="item item-toggle">
        Turn on Timer
        <label class="toggle toggle-assertive">
          <input ng-click='toggle()' type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <div ng-show='notifications' class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Visit the gym
          </div>
          <select ng-model='option' ng-change='updateFrequency(option)'>
            <option ng-selected='notifications'>Daily</option>
            <option>Every other day</option>
            <option>Every Three days</option>
            <option>Every Four days</option>
            <option>Weekly</option>
            <option>Fortnightly</option>
          </select>
        </label>
      </div>

      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Accessibility Views
          </div>
          <select ng-model='option' ng-change='changeView(option)'>
            <option ng-selected='style'>Plain</option>
            <option>Larger Text</option>
            <option>Inverted Colours</option>
          </select>
        </label>
      </div>

    </ul>

  </ion-content>
</ion-view>
