<ion-view view-title="Reviews">
  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="text" type="text" placeholder="Enter your review here...">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Enter your name here..." ng-model='author'>
      </label>
    </div>

    <button ng-click="post(text, author); text=''; author=''" class="button button-block button-positive">
      Post Review
    </button>

    <ion-list>
      <div class="card" ng-repeat='review in reviews'>
        <div class="item item-divider">
          {{review.author}} said this on {{review.date}}
        </div>
        <div class="item item-text-wrap">
          {{review.text}}
        </div>
        <div class="item item-divider">
          <h2 style='display:inline'>
            This review has {{review.votes}} votes
          </h2>
          <button class='button button-small button-positive' ng-click='upvote(review)'>+</button>
          <button class='button button-small button-assertive' ng-click='downvote(review)'>-</button>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
