<ion-view view-title="Greenwich School of Fitness">
  <ion-content>

    <ion-slide-box>
      <ion-slide ng-repeat='slide in slides'>
        <div class='list card'>
          <div class='item item-image'>
            <a ng-href='{{slide.a}}'><img alt='{{slide.alt}}' height='375' ng-src='{{slide.src}}'></a>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="list card">
      <div class="item item-divider item-positive">Due at the gym in:</div>
      <div class="item item-body">
        <div ng-hide='settings.notifications'>
        <p>Switch on Timer</p>
        <a class='button button-small button-positive button-to-right' href='#/tab/settings'>Settings</a>
      </div>

      <div ng-show='settings.notifications'>
        <p>{{ timeRemaining().hours }} hours {{ timeRemaining().minutes }} minutes and {{ timeRemaining().seconds }} seconds</p>
        <button class='button button-small button-positive button-to-right' ng-click='resetTimer()'>Reset</button>
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>
