<ion-view view-title="Reviews">
  <ion-content>

    <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()"></ion-refresher>

    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="text" type="text" placeholder="Enter your review here...">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Enter your name here..." ng-model='author'>
      </label>
      <button ng-click="post(text, author); text=''; author=''" class="button button-block button-positive">
        Post Review
      </button>
    </div>

    <div class='list card' ng-repeat='review in reviews'>
      <div class='item item-avatar item-divider'>
        <img src='http://www.thepoweroffollowup.com/clientuploads/reviews-icon.png'>
        <h4>On {{review.date}}</h4>
        <h2 style='font-size: 25px; color: #387ef5'>{{review.author}}<small> said:</small></h2>
      </div>

      <div class='item item-body' style='color: grey;'>
        "{{review.text}}"
      </div>
    </div>

  </ion-content>
</ion-view>
