<html ng-app='app'>

  <head>
    <link rel='stylesheet' href='bootstrap.min.css'>

    <script src="js/angular.min.js"></script>
    <script src='js/angular-ui-router.js'></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-controller='MainCtrl'>

    <div class='row'>

      <div class="col-md-6 col-md-offset-3">
        <div class='page-header'>    
          <h1>Greenwich Fitness <small>Making you Fit</small></h1>
        </div>

        <ui-view></ui-view>

        <script type="text/ng-template" id='/home.html'>
          home page
        </script>

        <script type="text/ng-template" id='/consultancy.html'>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="http://educationexpo.amritatv.com/images/fitness01.jpg" alt="">
                <div class="caption">
                  <h3>Consultant Name</h3>
                  <p>Consultant Description</p>
                  <p><a href="#" class="btn btn-primary" role="button">Contact Consultant</a></p>
                </div>
              </div>
            </div>
          </div>
        </script>

        <script type="text/ng-template" id='/equiptment.html'>
          equiptment page
        </script>

        <script type="text/ng-template" id='/contact.html'>
        contact page
        </script>

        <script type="text/ng-template" id="/reviews.html">

        <h3>See what some of our clients have said about us:</h3>
  
        <form ng-submit="addReview()">
          <div class='form-group'>
            <input class='form-control' type="text" placeholder="Text" ng-model="text"></input>
          </div>
          <div class='form-group'>
            <input class='form-control' type="text" placeholder="Your Name" ng-model="name"></input>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form> 
  
        <div ng-repeat="review in reviews">

          <div class="panel panel-default">
            <div class="panel-body">
              {{review.text}} - {{review.votes}} votes
            </div>
            <div class="panel-footer">
              Review posted by {{review.name}} on {{review.date}}
              <br>
              Did you find it Useful?
              <button ng-click='upvote(review)'>YES</button>
              <button ng-click='downvote(review)'>NO</button>
            </div>
          </div>        

        </div>

      </div>
      </script>

    </div>

  </body>

</html>