.scroll
{
  height: 100%;
}
 
#map
{
  margin: 0 auto;
  width: 90%;
  height: 70%;
}

p
{
  text-align: justify;
  text-decoration: bold;
}

.button-center
{
  width: 100%;
}

.push-down
{ 
  padding-top: 50px;
}
